  <!-- Preloader -->

    <app-header></app-header>


<div class="content-wrapper" style="min-height: 1302.12px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Students List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Students List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary" style="width: 1622px;">
              <div class="card-header">
                <h3 class="card-title">Filter by class</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <div class="row">

                        <!-- <div class="col-lg-3">
                        <div class="form-group">
                            
                            <label for="exampleInputEmail1">Classes</label>
                                
                                <select  class="form-control">
                          <option value="class-1">class 1</option>
                          <option value="class-2">class 2</option>
                          <option value="class-3">class 3</option>
                          <option value="class-4">class 4</option>
                          <option value="class-5">class 5</option>
                          <option value="class-6">class 6</option>
                          <option value="class-7">class 7</option>
                          <option value="class-8">class 8</option>
                          <option value="class-9">class 9</option>
                          <option value="class-10">class 10</option>
</select> 
                            </div>
                        </div>
                         
                                                   <div class="col-lg-3">

                         <div class="form-group"  >
                            
                            <label for="section">Section</label>
                                <select class="form-control" name="section">
                         <option value="class-A">Class-A</option>
                          <option value="class-B"> Class-B</option>
                          <option value="class-C">Class-C</option>
                          <option value="class-D">Class-D</option>
                          <option value="class-E"> Class-E</option>
                        </select>
                            </div>
                        </div> -->
                                            <div class="col-lg-3">
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Date</label>
                                
                         <div class="input-group date" id="date" data-target-input="nearest">
 <input type="date" class="form-control datepicker-input" data-target="#reservationdate" name="date"   [(ngModel)]="date" />
                    

                    </div>
                            </div>
                        </div>
                           
                        </div>
                   
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"      class="btn btn-outline-secondary"
          type="button"    (click)="searchClass()"
         >Search</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
           
            <!-- /.card -->

            <!-- Input addon -->
        
            <!-- /.card -->
            <!-- Horizontal Form -->
            
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
    
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Total Students attendances List</h3>

                <div class="card-tools">
              <button class="m-3 btn btn-sm btn-danger">
       Remove All
     </button>
             
                </div>
              </div>


              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" >
                                <table class="table table-hover text-nowrap">
                  <thead >
                    <tr>
                      <th>Student ID</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Edit</th>
                      <th>Delete</th>
                 
                  
                    </tr>
                  </thead>
                  <tbody *ngFor="let attendance of attendances; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(attendance, i)">
                     <!-- <tbody   *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"> -->
                    <tr>
                   
<td>{{attendance.student_id}}</td>
<td>{{attendance.date}}</td>
<td>{{attendance.status}}</td>

<!-- <td>{{attendance.status}}</td> -->


    <td><i class="fa fa-fw fa-edit" style="width: 10px;" routerLink="/dashboard/students-edit"></i></td>

                      <td>

                        <i class="fas fa-trash-alt" style="width: 10px;"   ></i></td>

                    </tr>
                  
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        
        <!-- /.row -->
     
        <!-- /.row -->
     
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <router-outlet></router-outlet>